/*-------------按钮大小样式--引入时放在最后--------------*/
.el-button{
  font-size: 16px;
}
/*调整size='mini'的按钮大小，small,medium也同理，放在.el-button下*/
.el-button--mini{
  font-size:13px;
  padding: 7px 16px;
}

/*-------------tab标签样式----------------*/
#tabs-main{
  .el-tabs__item span .el-badge{
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 34px;
    font-size: 16px;
    text-align: center;
  }
  .el-badge__content.is-dot{
    top: 4px;
    right: 8px;
  }
}


/*-----------右键菜单---------*/
.v-contextmenu{
  font-size:20px;
}
